/* Index HTML */
/* General Bootstrap */
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* General Bootstrap End */
/* Logo Menu Box */
.logo-menu-box {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 100%;
  background-color: #000000;
}

.navbar-fixed-top {
position: fixed;
right: 0;
left: 0;
z-index: 999;
}

#shockmouse {
  height: 40px;
  width: 223px;
  color: #ffffff;
  font-family: "DIN Pro";
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.3px;
  line-height: 55px;
  text-align: center;
  padding-top: 8px;
  padding-left: 25px;
}

#media {
  height: 40px;
  width: 144px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1.37px;
  line-height: 55px;
  text-align: center;
}

#hamburger {
  height: 30px;
  float: right;
  padding-top: 15px;
}

.btn-toggle-nav {
  float: right;
  width: 60px;
  height: 100%;
  background: #000000 no-repeat;
  background-image: url("images/hamburger-icon-white-6.jpg");
  background-size: 50%;
  background-position: center;
  margin-right: 15px;
  cursor: pointer;
}

/* Logo Menu Box End */
/* Hero */
.hero {
  background: #000000;
  padding-top: 70px;
  background-size: cover;
}

#mke-skyline {
  width: 100%;
  height: 655px;
  display: block;
  opacity: .2;
}

/* Hero End */
/* Clients */
.clients-box {
  width: 100%;
  height: 200px;
  background-color: #000000;
  text-align: center;
}

.clients-box h1 {
  color: #ffffff;
  margin: 0;
  font-family: DIN Condensed;
  text-align: center;
  padding-top: 15px;
}

.clients-box img {
  height: 84px;
  display: inline-block;
}

#prostate-cancer {
  width: 200px;
}

/* Clients End */
  /* Services */

.services-box {
  width: 100%;
  height: 400px;
  background-color:;
}

.services-box h1 {
  font-family: DIN Condensed;
  text-align: center;
  padding-top: 35px;
  color: #000000 ;
}

.services-box h4 {
  font-family: DIN Condensed;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.services {
  padding-top: 50px;

}

.services .col1 {

}
.services .col2 {

}
.services .col3 {

}
.services .col4 {

}

.services h4 {
  padding-top: 15px;
}

    /* Services -- Paid Media -- */
.services-box #paid-search-icon {
  height: 84px;
}

    /* Services -- Paid Media End -- */
    /* Services -- Creative Design -- */
.services-box #creative-design-icon {
  height: 84px;
}

    /* Services -- Creative Design End -- */
    /* Services -- Social -- */
.services-box #social-icon {
  height: 84px;
}

    /* Services -- Social End -- */
    /* Services -- Development -- */
.services-box #development-icon {
  height: 84px;
}

    /* Services -- Development End -- */
  /* Services End */
/* Who We Work With */
.wwww-box {
  width: auto;
  height: 500px;
}

.wwww-box h1 {
  font-family: DIN Condensed;
  text-align: center;
  padding-top: 25px;
  color: #000000;
}

#wwww-box .box-one {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  margin: auto;
  margin-top: 35px;
  width: 250px;
  text-align: center;
  color: #000000;
  box-shadow: 3px 3px 3px grey;
}
#wwww-box .box-one a {
  display: block;
}

#wwww-box .box-two {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  margin: auto;
  margin-top: 35px;
  width: 250px;
  text-align: center;
  color: #000000;
  box-shadow: 3px 3px 3px grey;
}
#wwww-box .box-two a {
  display: block;
}

#wwww-box .box-three {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  margin: auto;
  margin-top: 35px;
  width: 250px;
  text-align: center;
  color: #000000;
  box-shadow: 3px 3px 3px grey;
}
#wwww-box .box-three a {
  display: block;
}

#wwww-box .box-one img {
  height: 84px;
  display: inline-block;
  margin-top: 50px;
}

#wwww-box .box-two img {
  height: 84px;
  display: inline-block;
  margin-top: 50px;
}

#wwww-box .box-three img {
  height: 84px;
  display: inline-block;
  margin-top: 50px;
}

#wwww-box .box-one h4 {
  font-family: DIN Condensed;
  padding-top: 15px;
  color: black;
}

#wwww-box .box-two h4 {
  font-family: DIN Condensed;
  padding-top: 15px;
  color: black;
}

#wwww-box .box-three h4 {
  font-family: DIN Condensed;
  padding-top: 15px;
  color: black;
}

#wwww-box .box-one p {
  font-family: DIN Condensed;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  color: black;
}

#wwww-box .box-two p {
  font-family: DIN Condensed;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  color: black;
}

#wwww-box .box-three p {
  font-family: DIN Condensed;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  color: black;
}

/* Who We Work With End */
/* Footer */
/* Menu */
.menu {
  font-family: DIN Condensed;
  color: #ffffff;
  padding-top: 50px;
  text-align: center;
  margin-right: 80px;
}

.menu #name, #about-us, #services, #blog {
  line-height: 50px;
}

/* Menu End */
/* Social Icons */
#facebook, #twitter, #instagram, #linkedin {
  padding: 10px;
}

/* Social Icons End */
/* Form */
.footer {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  background-color: #000000;
}

.form {
  padding-top: 25px;
}

.footer h1 {
  font-size: 35px;
  margin-left: 805px;
  font-family: DIN Condensed;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 0;
}

.form label {
  color: #ffffff;
  font-family: "DIN Condensed";
}

.form input[name="name"] {
  width: 100%;
}

.form input[name="email"] {
  width: 100%
}

.form input[name="company"] {
  width: 100%;
}

.form select[name="division"] {
  width: 100%;
  height: 30px;
  font-family: DIN Condensed;
}

.form input[name="message"] {
  width: 100%;
  height: 100px;
}

.form button {
  font-family: DIN Condensed;
  background-color: #ffffff;
  height: 40px;
  width: 100px;
  float: right;
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
}

/* Form End */
/* Footer End */
/* Index HTML End */
/* About Us */
/* About Us Container */
#about-container {
  height: 650px;
  padding-top: 100px;
}

/* About Us Container End */
/* About Us End */
/* Who We Work With */
/* Non-Profits */
#nonprofit-container {
  height: 650px;
}

/* Non-Profits */
/* Small Businesses */
#smallbusiness-container {
  height: 650px;
}

/* Small Businesses End */
/* Corporations */
#corporations-container {
  height: 650px;
}

/* Corporations End */
/* Who We Work With End */

/* Services Sep. Page */
  #general {
    height: 250px;
    padding-top: 70px;
    padding-bottom: 50px;
  }

  #general h1 {
    text-align: center;
    font-family: DIN Pro;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;

  }

  #general p {
    text-align: center;
    line-height: 25px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: sans-serif;
  }

  .paid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }

  .creative-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }

  .social-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }

  .development-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
  }

  .services-container {
    margin-bottom: 100px;
  }

  #services-paid-media {
    height: 250px;
    background: url("images/services-paid media.png") no-repeat;
    background-size: cover;
    position: relative;
  }

  #services-paid-media img {
    margin-top: 20px;
    margin-left: 20px;
    height: 45px;
  }

  #services-paid-media h4 {
    float: right;
    font-family: "DIN Condensed";
    margin-top: 30px;
    margin-right: 375px;
  }

  #services-creative-design {
    height: 250px;
    background: url("images/services-creative.jpg") no-repeat;
    background-size: cover;
  }

  #services-creative-design img {
    margin-top: 20px;
    margin-left: 20px;
    height: 45px;
  }

  #services-creative-design h4 {
    float: right;
    font-family: "DIN Condensed";
    margin-top: 30px;
    margin-right: 330px;
  }

  #services-social {
    height: 250px;
    background-image: url("images/services-social.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #services-social img {
    margin-top: 20px;
    margin-left: 20px;
    height: 45px;
  }

  #services-social h4 {
    float: right;
    font-family: "DIN Condensed";
    margin-top: 30px;
    margin-right: 410px;
  }

  #services-development {
    height: 250px;
    background: url("images/services-development.jpeg") no-repeat left ;
    background-size:  cover;
  }

  #services-development img {
    margin-top: 20px;
    margin-left: 20px;
    height: 45px;
  }

  #services-development h4 {
    float: right;
    font-family: "DIN Condensed";
    margin-top: 30px;
    margin-right: 350px;
  }
/* Services Sep. Page End */
